<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/examples/homebg.gif');">
    <div class=" "></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Do you love poems?</h1>
            <h3>Start writing your poems and share with others.</h3>
            <br />
            <a routerLink='/signup' class="btn btn-outline-neutral btn-round"><i
                    class="fa fa-play"></i>Sign Up</a>
            <button type="button" routerLink='/read' class="btn btn-outline-neutral btn-round">Read Poems</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center" style="background-color: rgba(241, 217, 218, 0.609);">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title mb-5">Let you be expressed by your words</h2>
                    <h5 style="color:black">Poem is what we can beautifully express our feelings, our thoughts
                        our appreations. Let yourself adore your hidden divine art of expressing positivity around you
                        and the whole world. This platform provides and appreates your precious writings. Join us and
                        spread your inner lights
                        to highlight others.</h5>
                    <br>
                    <a routerLink='/login' class="btn btn-danger btn-round">Write Your Poem</a>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="section text-center">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-3 mb-5">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title my-3 font-weight-normal h3">Beautiful Poems</h4>
                            <p class="text-muted h5 font-weight-normal">Spend your time generating new poems. You don't
                                have to think of implementing.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title my-3 font-weight-normal h3">New Ideas</h4>
                            <p class="text-muted h5 font-weight-normal">Larger, yet dramatically thinner. More powerful,
                                but remarkably power efficient.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title my-3 font-weight-normal h3">Poetries</h4>
                            <p class="text-muted h5 font-weight-normal">Choose from a veriety of many categories
                                resembling sugar paper pastels.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title my-3 font-weight-normal h3">Delightful reading</h4>
                            <p class="text-muted h5 font-weight-normal">Find unique and incredible delightful poems that
                                touch your heart.</p>

                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
        </div>
    </div>

    <div class="section text-center " style="background-color: rgb(252, 104, 178);">
        <div class="container">
            <h2 class="title text-white">Let's talk about us</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card  card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title text-white">Henry Ford</h4>
                                    <h6 class="text-dark">Product Manager</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Teamwork is so important that it is virtually impossible for you to reach the heights of
                                your capabilities or make the money that you want without becoming very good at it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title text-white">Sophie West</h4>
                                    <h6 class="text-dark">Designer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution
                                to praise the skill of the others. No one can whistle a symphony. It takes an orchestra
                                to play it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title text-white">Robert Orben</h4>
                                    <h6 class="text-dark">Developer</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                The strength of the team is each individual member. The strength of each member is the
                                team. If you can laugh together, you can work together, silence isn’t golden, it’s
                                deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4"
                            placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>