<div class="p-5" style="background-color: blueviolet;">
    <h2 class="title mb-5 mt-5 pt-5 text-center text-white">{{poem.title}}</h2>
</div>
<div class="container py-5">

    <pre class="text-center h4 poem">{{poem.poem}}</pre>
</div>

<div class="container-fluid pt-3 pb-5 pb-md-4 " style="background-color: rgba(233, 218, 247, 0.493);">
    <h4 class="text-center text-dark font-weigth-normal">Auther</h4>
    <hr>
    <div class=" owner-bio my-5">
        <h5 class="text-center "><b>{{poem.user.userName}}</b></h5>
        <p class="text-center">{{poem.user.bio}}</p>
    </div>

</div>